

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    border: 1px solid gainsboro;
    margin-top: 20px;
    margin-bottom: 10px;

}

img{
    width: 90%;
    height: auto;
    overflow:hidden;
    margin: 20px;
    justify-content: center;
    align-content: center;
}

h2{
    margin: 20px;
    
}

p{
    margin: 20px;
}